/*----------  Buttons  ----------*/

.main-button {
  @extend %button;

  min-width: 200px;

  padding-top: 10px;
  padding-bottom: 10px;

  border: 0;
  border-radius: 4px;

  color: var(--color-font-3-c);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--color-brand-1);
}

.main-button--icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding-left: 28px;
  padding-right: 28px;

}

.main-button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

}

.main-button__icon {
  fill: currentColor;
}
