/*----------  Features section  ----------*/
.features {
  @include section();

  @include mq(lg) {
    @include section(var(--section-padding-lg));
  }
}
.features__list {
  @extend %list;
}

.features__item {
  --items: 1;

  @include mq(md) {
    --items:2;
  }

  @include mq(lg) {
    --items:4;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;

  background-color: var(--color-site-2);
}

.features__heading {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  margin-bottom: 10px;

  @include mq(sm-only) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--color-font-2);
}
